<!DOCTYPE html>
<html>

	{{> header}}

<body>
	<h1>ACIT 2520 Final Exam</h1>
	<h3>{{title}}</h3>
	<p></p>
	<a href={{addr}}>{{link}}</a>
	<p></p>
	<form method="post" action="/">
		<input type="text" id = "searchBar" name="searchBar" />
	</form>
	<p></p>
	{{#each images}}
		<img src = {{this}} />
	
	{{/each}}
</body>

</html>